@model BettingSystem.Models.Competition
@{
    ViewBag.Title = "AddCompetition";
}

<h2>AddCompetition</h2>

@Html.ValidationSummary(true)


@using (Html.BeginForm())
{
    @Html.LabelFor(u => u.Name)<br />
    @Html.TextBoxFor(u => u.Name) <br />
    <p>
        <button type="submit">Create Competition</button>
    </p>
}
