@model BettingSystem.Models.Team
@{
    ViewBag.Title = "EditTeam";
}

<h2>EditTeam</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.HiddenFor(u => u.Id)
    @Html.LabelFor(u => u.Name)<br />
    @Html.TextBoxFor(u => u.Name)<br />
    <p>
        <button type="submit">Edit Team</button>
    </p>
}
